* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("./assests/images/background1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  backdrop-filter: blur(30px);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper hr {
  color: #fff;
}

.wrapper h1 {
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
}

.wrapper .input-box-select {
  position: relative;
  width: 100%;
  height: 50px;
  outline: none;
  font-size: 16px;
}

.wrapper .input-box-select span,
.wrapper .input-box::placeholder,
.wrapper .input-box input::placeholder {
  color: #333;
  font-size: 16px;
}

.wrapper .register-forgot {
  justify-content: space-between;
  margin: -15px 0 15px;
}

.wrapper .register-forgot a {
  color: #fff;
  text-decoration: none;
}

.wrapper .register-forgot a:hover {
  text-decoration: underline;
}

.wrapper button {
  width: 100%;
  height: 45px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  font-size: 16px;
  font-weight: 700;
}